<!DOCTYPE html>
<html class="no-js">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    {{ghost_foot}}
</head>
<body class="{{body_class}}">
    <div id="wrap" class="">
        <div id="container" class="container {{^is 'author'}}container_2col{{/is}}">
            <div class="row">
                <div id="header_sidebar">{{> "header"}}</div>
                {{! Everything else gets inserted here }}
        {{{body}}}
            </div>
            <!-- /wrap -->
            <script>var main_url = "{{@blog.url}}";</script>
            <script data-pace-options='{ "restartOnPushState": false }' src="{{asset "js/pace.min.js"}}"></script>
            <script src="{{asset "js/bootstrap.min.js"}}"></script>
            <script src="{{asset "js/modernizr.min.js"}}"></script>
            <script src="{{asset "js/jquery.debouncedresize.min.js"}}"></script>
            <script src="{{asset "js/jquery.history.js"}}"></script>
            <script src="{{asset "js/animo.min.js"}}"></script>
            <script src="{{asset "js/ajax-script.js"}}"></script>
            <script src="{{asset "js/jquery.nicescroll.min.js"}}"></script>
            <script src="{{asset "js/script.js"}}"></script>

</body>
        </html>